In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import os

from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score

import warnings
warnings.filterwarnings('ignore')

In [2]:
directory = os.getcwd()

OG = pd.read_csv(directory + '/input_data.csv', sep=',')

In [3]:
OG.columns

Index(['INITIAL_SEVERITY_LEVEL_CODE', 'DISPATCH_RESPONSE_SECONDS_QY',
       'INCIDENT_RESPONSE_SECONDS_QY', 'INCIDENT_TRAVEL_TM_SECONDS_QY',
       'HELD_INDICATOR', 'T0', 'T1', 'T3', 'T4', 'T5',
       ...
       'Month_3', 'Month_4', 'Month_5', 'Month_6', 'Month_7', 'Month_8',
       'Month_9', 'Month_10', 'Month_11', 'Month_12'],
      dtype='object', length=604)

In [4]:
data_wrk = OG.copy()

In [5]:
from sklearn.ensemble import RandomForestClassifier

In [6]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import classification_report, confusion_matrix

In [7]:
from sklearn.metrics import roc_curve, auc

In [8]:
#baseline 
i = 5
max = 1025
bin_width = max/i
bins = np.arange(0,max+bin_width,bin_width)
labels = list(range(1,i+1))

data_wrk = OG.copy()
data_wrk = data_wrk.drop(['DISPATCH_RESPONSE_SECONDS_QY'],1)
data_wrk['INCIDENT_TRAVEL_TM_SECONDS_QY_Bin'] = pd.cut(data_wrk['INCIDENT_TRAVEL_TM_SECONDS_QY'],bins,labels=labels)
data = data_wrk.drop(columns = ['INCIDENT_TRAVEL_TM_SECONDS_QY'])

X = data.drop(columns = ["INCIDENT_TRAVEL_TM_SECONDS_QY_Bin"])
Y = data["INCIDENT_TRAVEL_TM_SECONDS_QY_Bin"]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, train_size=.75)

In [9]:
Y_train.value_counts()

2    16525
3    10808
4     4263
1     4246
5     1658
Name: INCIDENT_TRAVEL_TM_SECONDS_QY_Bin, dtype: int64

In [10]:
truths = list(Y_test.values)

In [11]:
pred_baselines = [2]*12500

In [12]:
pred_baselines = pd.Series(pred_baselines)

In [13]:
len(truths) == len(pred_baselines)

True

In [14]:
frames = [truths, pred_baselines]

In [15]:
s = pd.DataFrame(frames).transpose()
s

       0  1
0      2  2
1      2  2
2      2  2
3      1  2
4      2  2
...   .. ..
12495  2  2
12496  2  2
12497  2  2
12498  4  2
12499  2  2

[12500 rows x 2 columns]

In [16]:
s[s[0]==s[1]]

       0  1
0      2  2
1      2  2
2      2  2
4      2  2
6      2  2
...   .. ..
12489  2  2
12495  2  2
12496  2  2
12497  2  2
12499  2  2

[5500 rows x 2 columns]

In [17]:
print("Baseline Accuracy: ", 5401/12500)

Baseline Accuracy:  0.43208